# vscode-related:
.venv
.vscode

# git-related:
.gitignore
.gitlab-ci.yml
.git

# python-related
**/__pycache__/

# secrets
**/.env
**/.env.example

# docker-related:
**/Dockerfile
!Dockerfile
docker-compose.yml
.dockerignore

# tests
tests/

# readme
README.md

# Ruff settings
settings.json